  {% extends "base.html" %}

  {% block content %}
  <div class="container mt-4">
      <h1>Instant Feeling Tracker Form</h1>
      <form method="post" class="form" enctype="multipart/form-data">
          <div class="form-group">
              <label for="category">Current Feeling:</label>
              <select name="category" class="form-control">
                {% for option in categories %}
                  <option value="{{ option.id }}">{{ option.label }}</option>
                {% endfor %}
              </select>
            </div>
          <div class="form-group">
              <label for="image">Upload Image:</label>
              <input type="file" name="image" class="form-control" accept="image/*" />
          </div>
          <div class="form-group">
              <label for="message">Message:</label>
              <textarea name="message" class="form-control form-control-lg"></textarea>
          </div>
          <div class="form-group">
              <label for="tags">Tag your feelings:</label>
              <input type="text" name="tags" class="form-control" />
          </div>
          <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
      </form>
      <a href="/entries" class="btn btn-secondary">View Previous Entries</a>
  </div>
  {% endblock %}